body {
  font-family: sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  height: 100vh;
  cursor: default;
}  

.homepage {
  overflow: hidden;
  text-align: center;
}

.homepage footer>p {
  position: absolute;
  bottom: 1px;
  left: auto;
}


p {
  margin-bottom: 2em;
}  

a {
  text-decoration: none;
}

nav ol {
  margin-left: -1em;
}  

nav ol>li {
  font-weight: bold;
  display: inline-block;
}  

nav ol>li>a {
  padding: .5em 2em;
  background: #eee;
  border-radius: 3px;
  margin: 1em;
  border: 1px solid #ddd;
}

nav ol>li>span {
  border: 1px solid #ddd;
  padding: .5em 2em;
  background: #eee;
  border-radius: 3px;
  margin: 1em;
}

h1 i, footer i, section em, hr {
  display: none;
}

section {
  margin-bottom: 2rem;
}  

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.inline {
  display: inline-block;
}  

.centered {
  text-align: center;
}

.no-display {
   display: none;
}  



.soc {
  margin-left: -.2em;
}  

.soc li {
  display: inline-block;
  padding: 0 .2em;
}

.soc li>a {
  display: block;
  width: 48px;
  height: 48px;
  border: .1em solid black;
  border-radius: 50%;
  background-size: 28px;
}

.soc li>a span {
  display: none;
}  

.facebook {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-facebook.png);
}  
.twitter {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-twitter.png);
}  
.instagram {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-insta.png);
}  
.pinterest {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-pinterest.png);
}  
.youtube {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-youtube.png);
}  
