body {
  font-family: sans-serif;
  font-size: larger;
}  

a {
  text-decoration: none;
}

nav ol>li {
  font-weight: bold;
}  

h1 i, footer i, section em, hr {
  display: none;
}

section {
  margin-bottom: 2rem;
}  

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.inline {
  display: inline-block;
}  

.centered {
  text-align: center;
}

.no-display {
   display: none;
}  



.soc {
  margin-left: -.25em;
}  

.soc li {
  display: inline-block;
  padding: 0 .25em;
}

.soc li>a {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50%;
}

.soc li>a span {
  display: none;
}  

.facebook {
  background: center no-repeat url(https://sergeyioffe.github.io/images/pict-facebook.png);
  background-size: 32px;
}  
